<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (typeof(user) !== 'undefined') { %>
      <div class="account-shortcuts-container">
        <a href="/app/log-out">
          <button class="sign-out-btn">
            Sign Out
          </button>
        </a>
        <%- include('member-check') -%>
      </div>
    <% } else { %>
      <%- include('auth-sidebar') -%>
    <% }; %>
    
    <h1><%= title %></h1>

    <% if (typeof(user) !== 'undefined') { %>
      <h2><%= userMessage + user.username %></h2>
      <a href="/app/create-message">Create Message</a>
    <% }; %>

    <p><%= welcome %></p>

    <%- include('message-list') -%>
    
  </body>
</html>
