<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div class="coupled-container">
      <div class="account-shortcuts-container">
        <% if (typeof(user) !== 'undefined') { %>
          <%- include('member-check') -%>
        <% } else { %>
          <%- include('auth-sidebar') -%>
        <% }; %>
      </div>
        
      <div class="main">
       <div class="app-information-container">
        <h1 class="title-header"><%= title %></h1>
  
        <p class="latest-messages-text"><%= welcome %></p>
       </div>
  
        <%- include('message-list') -%>
      </div>
    </div>
    
  </body>
</html>
