<!DOCTYPE html>
<html>
  <body>

    <div class="membership-container">
      <% if (typeof(currentUser) !== 'undefined') { %>
        <% if (currentUser.role === "member" || currentUser.role === 'admin') { %>
          <a href="/app/log-out">
            <button class="return-btn">
              Sign Out
            </button>
          </a>

          <p class="member-status">
            Status: <%= currentUser.role %>
          </p>

          <h2 class="welcome-text"><%= userMessage + user.username %></h2>
          <a class="create-message-text" href="/app/create-message">
            <button class="create-msg-btn">Create Message</button>
          </a>
        <% } else { %>
          <a href="/app/log-out">
            <button class="return-btn">
              Sign Out
            </button>
          </a>

          <p class="member-status">
            Status: <%= currentUser.role %>
          </p>

          <h2 class="welcome-text"><%= userMessage + user.username %></h2>
          <a class="create-message-text" href="/app/create-message">
            <button class="create-msg-btn">Create Message</button>
          </a>

          <form 
            class="become-member-container"
            method="POST"
            action="<%= '/app/member-validation/' + currentUser.id %>"
          >
            <label for="memberPassword" class="member-info-text">
              Only members can see who posts are from and when they were posted. Enter your membership password below to gain access.
            </label>
            <input type="password" name="memberPassword" id="memberPassword">
            <button class="form-btn" type="submit">
              Verify Membership
            </button>
          </form>
        </div>
        <% }; %>
      <% }; %>

  </body>
</html>
